#hero{
    margin-top: 107px;
    .heading-content{
        text-align: center;
    }
    .main-heading{
        p{
            padding-top: 19px;
        }
    }

    .heading{
        padding-top: 34px;
        p{
            padding-top: 8px;
        }
    }

    .p-text{
        padding-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span{
            display: block;
            width: 56px;
            height: 3px;
            background-color: #cd7e50;
        }
    }

    .images-container{
        margin-top: 56.65px;
       
        .images{
            overflow-x: auto;
            display: flex;
            align-items: end;
            gap: 10px;

            .one{
                img{
                    margin-top: 10px;
            //         // -webkit-box-reflect: below 10px linear-gradient(transparent, #0001);
                }
            }
        }
    }
}

#about{
    margin-top: 53px;
    text-align: center;

    img{
        width: 336px;
        height: 289px;
    }

    h1{
        margin: 0 auto;
        padding-top: 44px;
        width: 405px;
    }

    .p-text{
        margin-top: 18px;
    }

    p{
        width: 397px;
        margin: 0 auto;
    }
}

@media (min-width:768px) {
    #hero{
        margin-top: 45px;

        .heading-content{
            padding-left: 50px;
        }

        .main-heading{
            display: flex;
            gap: 8px;
        }

        .heading{
            padding-top: 10px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .p-text{
            justify-content: start;
                padding-top: 4px;
        }

        .images{
            width: 90%;
            margin: 0 auto;

        }
    }
}


@media (min-width: 900px) {
    #about{
        text-align: start;

        img{
            width: 381px;
    height: 332px;
        }

        .about-inner{
           display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 47px;  
        }

        h1{
            width: 415px;
        }
       

       
    }
}



@media (min-width: 1200px) {
    #hero{
        .heading-content{
            padding-left: 90px;
        }

    }

    #about{
        margin-top: 251px;
        img{
            width:561px ;
            height: 482px;
        }

        h1{
            width: 475px;
        }

        p{
            margin-top: 35px;
            width: 475px;
        }
    }
}



@media (min-width: 1440px) {
    #hero{

        .heading-content{
            padding-left: 60px;
        }

        img{
            width: 360px;
        }

        .images{
            overflow-x: visible;
            width: 90%;
        }

    }

    #about{
        h1{
            width: 580px;
            margin-right: 110px;
        }

        p{
            width: 683px;
        }
    }
}



